<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Servlets -->
	<servlet>
		<servlet-name>AtmosphereServlet</servlet-name>
		<description>AtmosphereServlet</description>
		<servlet-class>org.atmosphere.cpr.AtmosphereServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<!--Uncomment if you want to use Servlet 3.0 Async Support -->
		<!-- <async-supported>true</async-supported> -->
	</servlet>
	
	<servlet>
		<servlet-name>DatabaseService</servlet-name>
		<description>Access to the database.</description>
		<servlet-class>de.tubs.cs.ibr.hydra.webmanager.server.DatabaseServiceImpl</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>MasterControlService</servlet-name>
		<description>Access to the master controls</description>
		<servlet-class>de.tubs.cs.ibr.hydra.webmanager.server.MasterControlServiceImpl</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>MasterServer</servlet-name>
		<description>Handles the communication channels to the slaves.</description>
		<servlet-class>de.tubs.cs.ibr.hydra.webmanager.server.MasterServer</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>AtmosphereServlet</servlet-name>
		<url-pattern>/WebManager/atmosphere/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>MasterControlService</servlet-name>
		<url-pattern>/WebManager/master</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>DatabaseService</servlet-name>
		<url-pattern>/WebManager/database</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>WebManager.html</welcome-file>
	</welcome-file-list>

</web-app>
