<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Servlets -->
	<servlet>
		<servlet-name>AtmosphereServlet</servlet-name>
		<description>AtmosphereServlet</description>
		<servlet-class>org.atmosphere.cpr.AtmosphereServlet</servlet-class>
		<!-- <init-param> <param-name>org.atmosphere.cpr.AtmosphereInterceptor.disableDefaults</param-name> 
			<param-value>true</param-value> </init-param> -->
		<load-on-startup>1</load-on-startup>
		<!--Uncomment if you want to use Servlet 3.0 Async Support -->
		<!-- <async-supported>true</async-supported> -->
	</servlet>

	<servlet-mapping>
		<servlet-name>AtmosphereServlet</servlet-name>
		<url-pattern>/WebManager/atmosphere/*</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>WebManager.html</welcome-file>
	</welcome-file-list>

</web-app>
